In [87]:
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path
import os

## Lendo dados

In [88]:
BASEFOLDER = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Datalake\{stage}\{folder}'
today = datetime.now()
date = today.strftime('%Y_%m_%d'
                      )
folder_path = BASEFOLDER.format(stage='silver', folder='dados_recebidos')
file_name = f'dados_recebidos_extractDate={date}.csv'

file_path = os.path.join(folder_path, file_name)

In [89]:
dataset = pd.read_csv(file_path, sep='\t')

## Tb Fato Lan√ßamento

In [90]:
select_column = [
            'sk_unidade', 
            'pk_lancamento',
            'cd_lancamento',
            'sk_conta_financeira',
            'dt_vencimento',
            'dt_mes_referencia',
            'vl_total_nf',
            'dt_venc_parcela',
            'sk_fornecedor',
            'dt_realizado',
            'vl_realizado',
            'ds_observacao',
            'dt_emissao_nf_doc',
            'dt_inclusao',
            'cd_nf_doc',
            'sk_conta_bancaria',
            'cd_parcela',
            'vl_juros',
            'vl_descontos',
            'tp_lancamento',
            'sk_normal_centro_custos',
            'tp_forma_pgto',
            'cd_documento',
            'tp_situacao'
]

fato_lancamento = dataset[select_column]

In [91]:
fato_lancamento['sk_conta_bancaria'] = fato_lancamento['sk_conta_bancaria'].fillna(1)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\3873135393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fato_lancamento['sk_conta_bancaria'] = fato_lancamento['sk_conta_bancaria'].fillna(1)

In [92]:
columns_type = {
    'sk_unidade': int, 
    'pk_lancamento': int,
    'cd_lancamento': int, 
    'sk_conta_financeira': int,
    'dt_vencimento': 'datetime64[ns]',
    'dt_mes_referencia': 'datetime64[ns]',
    'vl_total_nf': float, 
    'dt_venc_parcela': 'datetime64[ns]', 
    'sk_fornecedor': int, 
    'dt_realizado': 'datetime64[ns]', 
    'vl_realizado': float, 
    'ds_observacao': object, 
    'dt_emissao_nf_doc': 'datetime64[ns]', 
    'dt_inclusao': 'datetime64[ns]', 
    'cd_nf_doc': object, 
    'sk_conta_bancaria': int, 
    'cd_parcela': int, 
    'vl_juros': float, 
    'vl_descontos': float, 
    'tp_lancamento': object, 
    'sk_normal_centro_custos': int, 
    'tp_forma_pgto': object, 
    'cd_documento': object, 
    'tp_situacao': object
}

fato_lancamento = fato_lancamento.astype(columns_type)

In [93]:
fato_lancamento['sk_conta_bancaria'].unique()

array([1])

## Dim Fornecedor

In [94]:
dataset.head()

,Unnamed: 0,sk_unidade,pk_lancamento,cd_lancamento,sk_conta_financeira,dt_vencimento,dt_mes_referencia,vl_total_nf,dt_venc_parcela,sk_fornecedor,...,ds_normal_centro_custos,ds_normal_conta_financeira,ds_unidade,sk_normal_conta_financeira,vl_parcela,cd_agencia,cd_conta_bancaria,dt_saldo_inicial,vl_saldo_inicial,sk_conta_bancaria
0,0,1,6,6,47,2023-04-28,2023-03-01,15.00,2023-04-28,1,...,Farmacia,CONSUMO DE MATERIAIS GERAIS,D,11.0,15.00,123.0,78956.0,2023-01-01,2238863.82,1.0
1,1,1,7,7,71,2023-03-10,2023-03-01,36.53,2023-03-10,2,...,Tecnologia Informacao,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,36.53,123.0,78956.0,2023-01-01,2238863.82,1.0
2,2,1,8,8,71,2023-03-27,2023-03-01,328.58,2023-03-27,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
3,3,1,9,9,71,2023-04-24,2023-03-01,328.58,2023-04-24,2,...,UTI,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
4,4,1,10,10,71,2023-05-22,2023-03-01,328.58,2023-05-22,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0

In [95]:
select_column = [
            'cd_fornecedor',
            'ds_fornecedor'
]

dim_fornecedor = dataset[select_column]

## Dim Conta Financeira

In [96]:
dataset.head()

,Unnamed: 0,sk_unidade,pk_lancamento,cd_lancamento,sk_conta_financeira,dt_vencimento,dt_mes_referencia,vl_total_nf,dt_venc_parcela,sk_fornecedor,...,ds_normal_centro_custos,ds_normal_conta_financeira,ds_unidade,sk_normal_conta_financeira,vl_parcela,cd_agencia,cd_conta_bancaria,dt_saldo_inicial,vl_saldo_inicial,sk_conta_bancaria
0,0,1,6,6,47,2023-04-28,2023-03-01,15.00,2023-04-28,1,...,Farmacia,CONSUMO DE MATERIAIS GERAIS,D,11.0,15.00,123.0,78956.0,2023-01-01,2238863.82,1.0
1,1,1,7,7,71,2023-03-10,2023-03-01,36.53,2023-03-10,2,...,Tecnologia Informacao,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,36.53,123.0,78956.0,2023-01-01,2238863.82,1.0
2,2,1,8,8,71,2023-03-27,2023-03-01,328.58,2023-03-27,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
3,3,1,9,9,71,2023-04-24,2023-03-01,328.58,2023-04-24,2,...,UTI,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
4,4,1,10,10,71,2023-05-22,2023-03-01,328.58,2023-05-22,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0

In [97]:
select_column = [
            'cd_conta_financeira',
            'ds_conta_financeira',
            'sk_normal_conta_financeira',
            'ds_normal_conta_financeira'
]

dim_conta_financeira = dataset[select_column]

Tipagem dos dados

In [98]:
type_conta_financeira = {
    'cd_conta_financeira': int,
    'ds_conta_financeira': object,
    'sk_normal_conta_financeira': int,
    'ds_normal_conta_financeira': object
}

dim_conta_financeira = dim_conta_financeira.astype(type_conta_financeira)

In [99]:
dim_conta_financeira.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5454 entries, 0 to 5453
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cd_conta_financeira         5454 non-null   int32
 1   ds_conta_financeira         5454 non-null   object
 2   sk_normal_conta_financeira  5454 non-null   int32
 3   ds_normal_conta_financeira  5454 non-null   object
dtypes: int32(2), object(2)
memory usage: 128.0+ KB

In [100]:
dim_conta_financeira.sort_values('sk_normal_conta_financeira', inplace=True)

## Depara_conta_financeira

In [101]:
dim_conta_financeira.head()

,cd_conta_financeira,ds_conta_financeira,sk_normal_conta_financeira,ds_normal_conta_financeira
5453,13,DEVOLUCOES A PACIENTES (DEDUCOES DE RECEITA),5,DEDUCOES DE RECEITA
4543,13,DEVOLUCOES A PACIENTES (DEDUCOES DE RECEITA),5,DEDUCOES DE RECEITA
4542,13,DEVOLUCOES A PACIENTES (DEDUCOES DE RECEITA),5,DEDUCOES DE RECEITA
899,13,DEVOLUCOES A PACIENTES (DEDUCOES DE RECEITA),5,DEDUCOES DE RECEITA
4920,13,DEVOLUCOES A PACIENTES (DEDUCOES DE RECEITA),5,DEDUCOES DE RECEITA

In [102]:
select_column = [
    'ds_normal_conta_financeira',
    'sk_normal_conta_financeira'
]

depara_conta_financeira = dataset[select_column]

In [103]:
depara_conta_financeira.drop_duplicates(inplace=True)
depara_conta_financeira.sort_values('sk_normal_conta_financeira', inplace=True)
select_column_depara_conta = {
    'ds_normal_conta_financeira': object,
    'sk_normal_conta_financeira': int
}

depara_conta_financeira = depara_conta_financeira.astype(select_column_depara_conta)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\2604450343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depara_conta_financeira.drop_duplicates(inplace=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\2604450343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depara_conta_financeira.sort_values('sk_normal_conta_financeira', inplace=True)

## Dim_centro_custos

In [104]:
dataset.head()

,Unnamed: 0,sk_unidade,pk_lancamento,cd_lancamento,sk_conta_financeira,dt_vencimento,dt_mes_referencia,vl_total_nf,dt_venc_parcela,sk_fornecedor,...,ds_normal_centro_custos,ds_normal_conta_financeira,ds_unidade,sk_normal_conta_financeira,vl_parcela,cd_agencia,cd_conta_bancaria,dt_saldo_inicial,vl_saldo_inicial,sk_conta_bancaria
0,0,1,6,6,47,2023-04-28,2023-03-01,15.00,2023-04-28,1,...,Farmacia,CONSUMO DE MATERIAIS GERAIS,D,11.0,15.00,123.0,78956.0,2023-01-01,2238863.82,1.0
1,1,1,7,7,71,2023-03-10,2023-03-01,36.53,2023-03-10,2,...,Tecnologia Informacao,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,36.53,123.0,78956.0,2023-01-01,2238863.82,1.0
2,2,1,8,8,71,2023-03-27,2023-03-01,328.58,2023-03-27,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
3,3,1,9,9,71,2023-04-24,2023-03-01,328.58,2023-04-24,2,...,UTI,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
4,4,1,10,10,71,2023-05-22,2023-03-01,328.58,2023-05-22,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0

In [105]:
select_column = [
    'ds_centro_custo',
    'cd_centro_custos',
    'sk_normal_centro_custos'

]

dim_centro_custos = dataset[select_column]

In [106]:
dim_centro_custos.head()

            ds_centro_custo  cd_centro_custos  sk_normal_centro_custos
0                  FARM√ÅCIA                18                        8
1  TECNOLOGIA DA INFORMA√á√ÉO                17                        7
2              CONSULT√ìRIOS                 3                        3
3         TERAPIA INTENSIVA                 6                        5
4              CONSULT√ìRIOS                 3                        3

In [107]:
dim_centro_custos.sort_values('sk_normal_centro_custos', inplace=True)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\3083402982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_centro_custos.sort_values('sk_normal_centro_custos', inplace=True)

In [108]:
dim_centro_custos.head()

     ds_centro_custo  cd_centro_custos  sk_normal_centro_custos
1708  PRONTO SOCORRO                 1                        1
5196  PRONTO SOCORRO                 1                        1
963   PRONTO SOCORRO                 1                        1
3188  PRONTO SOCORRO                 1                        1
3166  PRONTO SOCORRO                 1                        1

## depara_centro_custos

In [109]:
dim_centro_custos.head()

     ds_centro_custo  cd_centro_custos  sk_normal_centro_custos
1708  PRONTO SOCORRO                 1                        1
5196  PRONTO SOCORRO                 1                        1
963   PRONTO SOCORRO                 1                        1
3188  PRONTO SOCORRO                 1                        1
3166  PRONTO SOCORRO                 1                        1

In [110]:
select_column = [
    'sk_normal_centro_custos',
    'ds_centro_custo'
]

depara_centro_custos = dataset[select_column]

In [111]:
depara_centro_custos.sort_values('sk_normal_centro_custos', inplace=True)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\1890531180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depara_centro_custos.sort_values('sk_normal_centro_custos', inplace=True)

In [112]:
depara_centro_custos.drop_duplicates()

      sk_normal_centro_custos           ds_centro_custo
1708                        1            PRONTO SOCORRO
2702                        2          CENTRO CIR√öRGICO
4774                        3              CONSULT√ìRIOS
4370                        4                UI POSTO 1
823                         4                UI POSTO 2
1935                        5         TERAPIA INTENSIVA
3971                        6               FATURAMENTO
646                         6     GER√äNCIA DE HOTELARIA
3844                        6                LAVANDERIA
643                         6                FINANCEIRO
645                         6    HIGIENIZA√á√ÉO E LIMPEZA
647                         6             ADMINISTRA√á√ÉO
649                         6                      CCIH
3850                        6         DIRETORIA T√âCNICA
3950                        6     SAME/ARQUIVOS M√âDICOS
660                         6          RECEP√á√ÉO CENTRAL
4087                        7  TECNOLOGIA DA INFORMA√á√ÉO
5358                        8                  FARM√ÅCIA

## Dim unidade

In [113]:
dataset.head()

,Unnamed: 0,sk_unidade,pk_lancamento,cd_lancamento,sk_conta_financeira,dt_vencimento,dt_mes_referencia,vl_total_nf,dt_venc_parcela,sk_fornecedor,...,ds_normal_centro_custos,ds_normal_conta_financeira,ds_unidade,sk_normal_conta_financeira,vl_parcela,cd_agencia,cd_conta_bancaria,dt_saldo_inicial,vl_saldo_inicial,sk_conta_bancaria
0,0,1,6,6,47,2023-04-28,2023-03-01,15.00,2023-04-28,1,...,Farmacia,CONSUMO DE MATERIAIS GERAIS,D,11.0,15.00,123.0,78956.0,2023-01-01,2238863.82,1.0
1,1,1,7,7,71,2023-03-10,2023-03-01,36.53,2023-03-10,2,...,Tecnologia Informacao,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,36.53,123.0,78956.0,2023-01-01,2238863.82,1.0
2,2,1,8,8,71,2023-03-27,2023-03-01,328.58,2023-03-27,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
3,3,1,9,9,71,2023-04-24,2023-03-01,328.58,2023-04-24,2,...,UTI,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0
4,4,1,10,10,71,2023-05-22,2023-03-01,328.58,2023-05-22,2,...,Ambulatorio,MANUTENCAO E ASSISTENCIA TECNICA,D,14.0,328.58,123.0,78956.0,2023-01-01,2238863.82,1.0

In [114]:
select_column = [
    'ds_unidade',
    'sk_unidade'
]
dim_unidade = dataset[select_column]

In [115]:
dim_unidade.drop_duplicates(inplace=True)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\3207697419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_unidade.drop_duplicates(inplace=True)

In [116]:
dim_unidade.head()

  ds_unidade  sk_unidade
0          D           1

## Fato Saldo inicial

In [117]:
dataset.columns

Index(['Unnamed: 0', 'sk_unidade', 'pk_lancamento', 'cd_lancamento',
       'sk_conta_financeira', 'dt_vencimento', 'dt_mes_referencia',
       'vl_total_nf', 'dt_venc_parcela', 'sk_fornecedor', 'dt_realizado',
       'vl_realizado', 'ds_observacao', 'dt_emissao_nf_doc', 'dt_inclusao',
       'cd_nf_doc', 'cd_parcela', 'vl_juros', 'vl_descontos', 'tp_lancamento',
       'sk_normal_centro_custos', 'tp_forma_pgto', 'cd_documento',
       'tp_situacao', 'cd_centro_custos', 'cd_conta_financeira',
       'cd_fornecedor', 'ds_centro_custo', 'ds_conta_bancaria',
       'ds_conta_financeira', 'ds_fornecedor', 'ds_normal_centro_custos',
       'ds_normal_conta_financeira', 'ds_unidade',
       'sk_normal_conta_financeira', 'vl_parcela', 'cd_agencia',
       'cd_conta_bancaria', 'dt_saldo_inicial', 'vl_saldo_inicial',
       'sk_conta_bancaria'],
      dtype='object')

In [118]:
select_columns = [
    'dt_saldo_inicial',
    'vl_saldo_inicial',
    'sk_conta_bancaria',
    'ds_conta_bancaria',
    'cd_conta_bancaria',
    'cd_agencia'
]

fato_saldo = dataset[select_columns]

In [119]:
fato_saldo.drop_duplicates(inplace=True)
fato_saldo.dropna(inplace=True)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\3479307977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fato_saldo.drop_duplicates(inplace=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_4864\3479307977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fato_saldo.dropna(inplace=True)

In [120]:
fato_saldo.head()

,dt_saldo_inicial,vl_saldo_inicial,sk_conta_bancaria,ds_conta_bancaria,cd_conta_bancaria,cd_agencia
0,2023-01-01,2238863.82,1.0,GERAL,78956.0,123.0

In [121]:
type_conta = {
    'dt_saldo_inicial': 'datetime64[ns]',
    'vl_saldo_inicial': float,
    'sk_conta_bancaria': int,
    'ds_conta_bancaria': object,
    'cd_conta_bancaria': int,
    'cd_agencia': int
}

fato_saldo = fato_saldo.astype(type_conta)

In [122]:
fato_saldo['cd_banco'] = pd.factorize(fato_saldo['cd_conta_bancaria'])[0] +1
fato_saldo['cd_banco'] = fato_saldo['cd_banco'].replace(0, np.nan)

In [123]:
fato_saldo['sn_ativo'] = True

In [124]:
fato_saldo.sort_values('sk_conta_bancaria', inplace=True)

In [125]:
fato_saldo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dt_saldo_inicial   1 non-null      datetime64[ns]
 1   vl_saldo_inicial   1 non-null      float64
 2   sk_conta_bancaria  1 non-null      int32
 3   ds_conta_bancaria  1 non-null      object
 4   cd_conta_bancaria  1 non-null      int32
 5   cd_agencia         1 non-null      int32
 6   cd_banco           1 non-null      int64
 7   sn_ativo           1 non-null      bool
dtypes: bool(1), datetime64[ns](1), float64(1), int32(3), int64(1), object(1)
memory usage: 53.0+ bytes

## Dim conta bancaria

In [126]:
fato_saldo.head()

,dt_saldo_inicial,vl_saldo_inicial,sk_conta_bancaria,ds_conta_bancaria,cd_conta_bancaria,cd_agencia,cd_banco,sn_ativo
0,2023-01-01,2238863.82,1,GERAL,78956,123,1,True

In [127]:
select_column = [
    'sk_conta_bancaria',
    'cd_conta_bancaria',
    'cd_agencia',
    'ds_conta_bancaria',
    'cd_banco',
    'sn_ativo'
]

dim_conta_bancaria = fato_saldo[select_column]

In [128]:
dim_conta_bancaria.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sk_conta_bancaria  1 non-null      int32
 1   cd_conta_bancaria  1 non-null      int32
 2   cd_agencia         1 non-null      int32
 3   ds_conta_bancaria  1 non-null      object
 4   cd_banco           1 non-null      int64
 5   sn_ativo           1 non-null      bool
dtypes: bool(1), int32(3), int64(1), object(1)
memory usage: 37.0+ bytes

## Exportando camada gold

Caminho padrao

In [129]:
BASEFOLDER = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Datalake\{stage}\{folder}'
today = datetime.now()
date = today.strftime('%Y_%m_%d'
                      )

fato lancamento

In [130]:
folder_lancamento = BASEFOLDER.format(stage='gold', folder='fato_lancamento')
file_lancamento = f'fato_lancamento_extractDate={date}.txt'

lancamento_path = os.path.join(folder_lancamento, file_lancamento)

if  not os.path.isdir(folder_lancamento): 
    Path(folder_lancamento).mkdir(parents=True, exist_ok=True)

fato_lancamento.to_csv(lancamento_path, sep='\t')

Fato saldo

In [131]:
folder_saldo = BASEFOLDER.format(stage='gold', folder='fato_saldo')
file_saldo = f'fato_saldo_extractDate={date}.txt'

saldo_path = os.path.join(folder_saldo, file_saldo)

if  not os.path.isdir(folder_saldo): 
    Path(folder_saldo).mkdir(parents=True, exist_ok=True)

fato_saldo.to_csv(saldo_path, sep='\t')

Dim Conta Bancaria

In [132]:
folder_dim_conta_bancaria = BASEFOLDER.format(stage='gold', folder='dim_conta_bancaria')
file_dim_conta_bancaria = f'dim_conta_bancaria_extractDate={date}.txt'

dim_conta_bancaria_path = os.path.join(folder_dim_conta_bancaria, file_dim_conta_bancaria)

if  not os.path.isdir(folder_dim_conta_bancaria): 
    Path(folder_dim_conta_bancaria).mkdir(parents=True, exist_ok=True)

dim_conta_bancaria.to_csv(saldo_path, sep='\t')

Dim Centro Custos

In [133]:
folder_dim_centro_custos = BASEFOLDER.format(stage='gold', folder='dim_centro_custos')
file_dim_centro_custos = f'dim_centro_custos_extractDate={date}.txt'

dim_centro_custos_path = os.path.join(folder_dim_centro_custos, file_dim_centro_custos)

if  not os.path.isdir(folder_dim_centro_custos): 
    Path(folder_dim_centro_custos).mkdir(parents=True, exist_ok=True)

dim_centro_custos.to_csv(saldo_path, sep='\t')

Dim Conta Financeira

In [134]:
folder_dim_conta_financeira = BASEFOLDER.format(stage='gold', folder='dim_conta_financeira')
file_dim_conta_financeira = f'dim_conta_financeira_extractDate={date}.txt'

dim_conta_financeira_path = os.path.join(folder_dim_conta_financeira, file_dim_conta_financeira)

if  not os.path.isdir(folder_dim_conta_financeira): 
    Path(folder_dim_conta_financeira).mkdir(parents=True, exist_ok=True)

dim_conta_financeira.to_csv(saldo_path, sep='\t')

Dim fornecedor

In [135]:
folder_dim_fornecedor = BASEFOLDER.format(stage='gold', folder='dim_fornecedor')
file_dim_fornecedor = f'dim_fornecedor_extractDate={date}.txt'

dim_fornecedor_path = os.path.join(folder_dim_fornecedor, file_dim_fornecedor)

if  not os.path.isdir(folder_dim_fornecedor): 
    Path(folder_dim_fornecedor).mkdir(parents=True, exist_ok=True)

dim_conta_financeira.to_csv(saldo_path, sep='\t')

Dim unidade

In [136]:
folder_dim_unidade = BASEFOLDER.format(stage='gold', folder='dim_unidade')
file_dim_unidade = f'dim_unidade_extractDate={date}.txt'

dim_unidade_path = os.path.join(folder_dim_unidade, file_dim_unidade)

if  not os.path.isdir(folder_dim_unidade): 
    Path(folder_dim_unidade).mkdir(parents=True, exist_ok=True)

dim_unidade.to_csv(saldo_path, sep='\t')

depara_centro_custos

In [137]:
folder_depara_centro_custos = BASEFOLDER.format(stage='gold', folder='depara_centro_custos')
file_depara_centro_custos = f'depara_centro_custos_extractDate={date}.txt'

depara_centro_custos_path = os.path.join(folder_depara_centro_custos, file_depara_centro_custos)

if  not os.path.isdir(folder_depara_centro_custos): 
    Path(folder_depara_centro_custos).mkdir(parents=True, exist_ok=True)

depara_centro_custos.to_csv(saldo_path, sep='\t')

depara_conta_financeira

In [138]:
folder_depara_conta_financeira = BASEFOLDER.format(stage='gold', folder='depara_conta_financeira')
file_depara_conta_financeira = f'depara_conta_financeira_extractDate={date}.txt'

depara_conta_financeira_path = os.path.join(folder_depara_conta_financeira, file_depara_conta_financeira)

if  not os.path.isdir(folder_depara_conta_financeira): 
    Path(folder_depara_conta_financeira).mkdir(parents=True, exist_ok=True)

depara_conta_financeira.to_csv(saldo_path, sep='\t')